<ion-view view-title="Login">
      <ion-content>

<div class="list">
  <label class="item item-input">
    <span class="input-label">משתשמש</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">סיסמה</span>
    <input type="password">
  </label>
  <label class="item item-input">
    <span class="input-label">קוד SMS</span>
    <input type="password">
  </label>
</div>
 <div class="row">
 <button class="button ">
 אשר
</button>
 </div>
      </ion-content>

</ion-view>
