<ion-view view-title="landing">
     <ion-content class="padding">

<div class="list card">
  <div class="item">
    <div class="row">
      <div class="col">
        <img src="img/FMR.png" style="width: 150px; height: 150px">
      </div>
      <div class="col">
        <img src="img/adam.jpg" style="width: 150px; height: 150px">
      </div>
    </div>
  </div>

  <div class="item">

<div class="row">

<div class="col col-grid">
  יתרת עו"ש כוללת"
</div>
<div class="col col-grid">
  150000
</div>

</div>

<div class="row">

<div class="col col-grid">
  יתרת עו"ש כוללת"
</div>
<div class="col col-grid">
  150000
</div>

</div>
<div class="row">

<div class="col col-grid">
  יתרת עו"ש כוללת"
</div>
<div class="col col-grid">
  150000
</div>

</div>

</div>

  </div>

  <div class="item">

<div class="row">
<div class="col">
 <button class="button button-block button-stable" ng-click="navigate()">
   מעו"ש לחסכון
   </button>
 </div>
 <div class="col">
    <button class="button button-block button-stable" ng-click="navigate()">
מחסכון לעו"ש
    </button>
    </div>

</div>
<div class="row">
 <button class="button button-block button-full button-stable" ng-click="navigate()">עדכון מדיניות חסכון</button>


</div>
</div>
</div>

      </ion-content>

</ion-view>
