<ion-view view-title="Login">
      <ion-content class="padding">


<div class="row">
  <div class="col">

    <img src="img/FMR.png" style="width: 150px; height: 150px">
  </div>
  <div class="col">
  <img src="img/adam.jpg" style="width: 150px; height: 150px">
</div>
</div>

<div class="list">
  <label class="item item-input">
    <span class="input-label">משתמש</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">סיסמה</span>
    <input type="password">
  </label>
  <label class="item item-input">
    <span class="input-label">קוד SMS</span>
    <input type="password">
  </label>
</div>
 <div class="row">
   <div class="col">
   <a ng-click="navigate()" class="button icon-left ion-chevron-left button-clear button-dark">אשר</a>

   </div>

  <div class="col">
      <a ng-click="navigate()" class="button icon-left ion-chevron-left button-clear button-dark">
        שליחת קוד נוספת
    </a>

  </div>
 </div>
      </ion-content>

</ion-view>
