<ion-view view-title="landing">
     <ion-content class="padding">

<div class="list card">
  <div class="item item-image">
      <img src="img/FMR.png" style="width: 150px; height: 150px">
    </div>
    <div class="item">
      <br/>
      <br/>
        <h2 align="center">עופר האם בדקת את יתרתך היום ?</h2
          <br/>
          <br/>
          <br/>
    </div>
    <div class="item item-image">
      <img src="img/adam.jpg" style="width: 150px; height: 150px">
    </div>
    <div class="item">
      <div class="row">
        <div class="col">
        <a ng-click="navigate('login')" class="button icon-left ion-chevron-left button-clear button-dark">
          כניסה</a>
             </div>

       <div class="col">
           <a ng-click="navigate('register')" class="button icon-left ion-chevron-left button-clear button-dark">
             רישום
         </a>

       </div>

      </div>


</div>

</div>
    </ion-content>

</ion-view>
